<div class="wrapper wrapper-content">

	<div class="row">
		<div class="col-lg-3">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Bills</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins"><%= @bills.count %></h1>
					<div class="stat-percent font-bold text-info">
						<%= link_to new_bill_path do %>
						New <i class="fa fa-plus"></i>
					</div>
					<% end %>
					<small>Total bills</small>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-info pull-right">Annual</span>
					<h5>Companies</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins"><%= @companies.count %></h1>
					<div class="stat-percent font-bold text-info">
						<%= link_to new_company_path do %>
						New <i class="fa fa-plus"></i>
					</div>
					<% end %>
					<small>Total companies</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Annual</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div>
						<%= bills_amount_by_year %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Amount by Companies</h5>
				</div>
				<div class="ibox-content">
					<div>
						<%= bills_amount_by_company %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Total</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div>
						<%= pie_chart bills_total_amount_by_companies_charts_path, messages: {empty: "Insert your first bill to view chart"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
