<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New Bill</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <%= bootstrap_form_with(model: @bill, layout: :horizontal, label_col: "col-sm-2 control-label", control_col: "col-sm-10") do |f| %>
            <% if @bill.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
                <ul>
                  <% @bill.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= f.select("bill", "company_id", Hash[Company.all.map {|c| [ c.name ] }], { include_blank: true }) %>

            <div class="hr-line-dashed"></div>

            <%= f.text_field :description, label: "Description*", required: true  %>

            <%= f.text_field :period, label: "From" , :placeholder => 'Select from', id: "data_1", required: true do 
              concat content_tag(:span, nil, class: 'fa fa-calendar') 
            end %>

            <%= f.text_field :end_period, label: "To", :placeholder => 'Select to', required: true, extra_class: "data_1" do 
              concat content_tag(:span, nil, class: 'fa fa-calendar')
            end %>

            <%= f.text_field :amount, :placeholder => 'Select amount (€)', required: true  do 
              concat content_tag(:span, nil, class: 'fa fa-eur') 
            end %>

            <%= f.text_field :deadline, label: "Deadline", :placeholder => 'Select deadline' do 
              concat content_tag(:span, nil, class: 'fa fa-calendar')
            end %>

            <%= f.check_box :paid, class: 'form-control i-checks', required: true %>

            <!-- Create Bill -->
            <div class="actions form-group">
                <%= link_to 'Back', bills_path, class: "btn btn-outline btn-default", control_col: "col-sm-offset-2 col-sm-10" %>
                <%= f.button :submit, class: "btn btn-primary", control_col: "col-sm-offset-2 col-sm-10" %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">

  $(function() {

    $('.data_1').datepicker({
      todayBtn: "linked",
      format: "dd-mm-yyyy",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

    $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
    });

  });
</script>

<% end %>

