<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-body">
        
        <div class="row">
          <div class="col-lg-8">
            <%= simple_form_for @bill do |f| %>
              <%= f.association :company %>
              <%= f.input :name, as: :string, required: true %>
              <div class="row">
                <%= f.input :period, as: :string, :input_html => { :value => format_period(f.object.period)}, wrapper: :vertical_input_group, required: true, :placeholder => 'Select From',
                wrapper_html: { class: "col-lg-6"}, label: "From" do %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.input_field :period, as: :string, class: "form-control daterange" %>
                <% end %>

                <%= f.input :end_period, as: :string, wrapper: :vertical_input_group, required: true, :placeholder => 'Select To',
                wrapper_html: { class: "col-lg-6"}, label: "To" do %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.input_field :end_period, as: :string, class: "form-control daterange" %>
                <% end %>
              </div>

              <%= f.input :amount, wrapper: :vertical_input_group do %>
              <span class="input-group-addon"><i class="fa fa-eur"></i></span>
              <%= f.input_field :amount, as: :string, class: "form-control" %>
              <% end %>

              <div class="row">
                <%= f.input :deadline, as: :string, wrapper: :vertical_input_group, required: true, :placeholder => 'Select due date',
                wrapper_html: { class: "col-lg-6"}, label: "Deadline" do %>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <%= f.input_field :deadline, as: :string, class: "form-control daterange" %>
                <% end %>
              </div>

              <%= f.input :paid %>
              <%= f.button :submit, class: "btn btn-outline btn-primary col-lg-8" %>
            <% end %>
          </div>
        </div>

        <br>
        
        <div class="wall">
          <%= link_to 'Back', bills_path, class: "btn btn-outline btn-default" %>
        </div>

      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
 $('.daterange').datepicker({
  format: "dd-mm-yyyy",
  autoclose: true,
  todayHighlight: true
});
</script>
