<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><i class="fa fa-file-text-o fa-fw"></i> Bills</h2>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">

        <!-- Title -->
        <div class="ibox-title">
          <h5>List of Bills</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

        <!-- Data Table -->
        <div class="ibox-content">
          <div>
            <% flash.each do |key, value| %>
            <div class="panel panel-<%= key %>">
              <div class="panel-heading"><%= value %></div>
            </div>
            <% end %>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <table width="100%" class="table table-striped table-hover dataTables-bills">
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Description</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Deadline</th>
                    <th>Paid</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% cache @bills do %>
                  <% @bills.each do |bill| %>
                  <tr class="odd gradeX">
                    <% cache bill do %>
                    <td><%= bill.company.name %></td>
                    <td><%= bill.description %></td>
                    <td><%= format_period(bill.period) %></td>
                    <td><%= format_period(bill.end_period) %></td>
                    <td><%= number_to_euro (bill.amount) %></td>
                    <td><%= format_period(bill.deadline) %></td>
                    <td>
                      <% if bill.paid? %>
                      <%= content_tag :span, "OK", class: "label label-primary" %>
                      <% else %>
                      <%= content_tag :span, "TODO", class: "label label-warning" %>
                      <% end %>
                    </td>
                    <td class="text-right">
                      <div class="btn-group">
                        <!-- Show -->
                        <%= link_to "View", bill, class: "btn-white btn btn-xs" %>
                        <!-- Edit -->
                        <%= link_to "Edit", edit_bill_path(bill), class: "btn-white btn btn-xs" %>
                        <!-- Delete -->
                        <%= link_to "Delete", bill_path(bill.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-white btn btn-xs" %>
                      </div>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
          <br>
          <%= link_to '+', new_bill_path, class: "btn btn-outline btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {

      $('.dataTables-bills').DataTable({
        pageLength: 25,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
        {extend: 'copy'},
        {extend: 'csv'},
        {extend: 'excel', title: 'List of Bills'},
        {extend: 'pdf', title: 'List of Bills'},

        {extend: 'print',
        customize: function (win){
          $(win.document.body).addClass('white-bg');
          $(win.document.body).css('font-size', '10px');

          $(win.document.body).find('table')
          .addClass('compact')
          .css('font-size', 'inherit');
        }
      }
      ]
    });
    });
  </script>
<% end %>