<%= simple_form_for @company do |f| %>
  <%= f.input :name, as: :string, required: true %>
  <%= f.input :category, as: :string, required: true, label: "Category" %>
  <%= f.button :submit, input_html: { class: "actions"} %>
<% end %>

<br>
<div class="wall">
  <%= link_to 'Back', companies_path, class: "btn btn-default" %>
</div>