<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Username</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    MYB
                </div>
            </li>

            <li class="<%= 'active' if current_page?(root_path) %>">
                <%= link_to root_path do %>
                <i class="fa fa-home"></i> <span class="nav-label">Dashboard</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?(bills_path) %>">
                <%= link_to bills_path do %>
                <i class="fa fa-file-text-o"></i> <span class="nav-label">Bills</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?(companies_path) %>">
                <%= link_to companies_path do %>
                <i class="fa fa-industry"></i> <span class="nav-label">Companies</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>