<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <title>HomeBillsManager</title>

        <%= csrf_meta_tags %>

        <!-- Stylesheets references on Asssets -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', debug: true %>

        <!-- Javascript references -->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', debug: true  %>
    </head>

    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <%= render :partial => 'layouts/navigation' %>

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <%= yield %>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
      $(document).ready(function() {
        $('#dataTables-model').DataTable({
          responsive: true
        });
      });
    </script>
</html>
